#navbarNav ul a:hover {
    background-color:lightgrey;
    color: black;
  }
.cardcantainer{
    margin-top: 20px;
    text-align: center;  
}
.cardcantainer ul{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    list-style: none;
    justify-content:space-evenly;
    
}
.cardcantainer ul div{
    margin-top: 20px;
    padding: 5px;
    border: 3px solid #c9b8b8;
    background-color: white;
    width: 250px;
    height: 250px;
    overflow:hidden;
    text-align: center;
    border-radius: 15px;
    box-shadow: 3px 3px 5px 6px darkgray;
}
.cardcantainer ul div:hover{
    background-color:rgba(0, 0, 0, 0.453);
    color: white;
}
.container ul{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    list-style: none;
    justify-content:space-evenly;
    
}

.testi{
    width: 250px;
    padding: 15px;
    text-align: center;
    margin: 5px;
    margin-top: 30px;
    overflow: auto;
    cursor: pointer;
    opacity: 0.9;  
}

#form{
    width: 300px;
    padding: 22px;
    border: 2px solid black;
    border-radius: 45px;
    text-align: center;
    box-shadow: 3px 3px 5px 6px darkgray;
}

#form button{
    margin-left:20px;
    width:100px;
}